.traveler {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "header header "
    "trips info";
  

  @include heading();

  .trip-section {
    @include tripsSection;
  
    .trip-info {
      @include tripGrid();

      .image-container {
        @include imageContainerFormat();

        img {
          @include imgFormat();
        }

        h3 {
          @include pictureHeading();
        }

        p {
         @include pictureInfo(30%, 20%);
        }
      }
    }
  }
  
  .info {
    grid-area: "info";

    .cost-info {
      background-color: $secondary-background;
      @include flexin(column);
      padding-bottom: 0;
      margin: 10%;
      font-family: Courier;
      border-radius: $border-radius;
      
      // #estimated-cost {
      //   position: absolute;
      //   top: 50%;
      //   bottom: 50%;
      //   opacity: 1;
      // }

      h3 {
        text-align: center;
        font-family: Arial;
      }

      table {
        text-align: center;
        table-layout: fixed;

        th {
          padding-bottom: 3%;
        }

        td {
          padding-bottom: 5%;
          width: 50%;
        }

        .total-border {
          border-bottom: 2px dashed black;
        }
      }
    }

    .request-info {
      text-align: center;
      background: $secondary-background;
      margin: 0% 10%;
      margin-bottom: -7%;
      border-radius: $border-radius;

      .form-container {
        padding: 1%;
      }

      h3 {
        padding-top: 3%;
        margin-top: 0;
      }

      #button {
        padding-bottom: 3%;
      }
    }
  }
}

.estimated-cost {
  background-color: $secondary-background;
  @include flexin(column);
  padding-bottom: 0;
  margin: 10%;
  font-family: Courier;
  border-radius: $border-radius;
  position: absolute;
  top: 0%;
  

  h3 {
    text-align: center;
    font-family: Arial;
  }

  table {
    text-align: center;
    table-layout: fixed;

    th {
      padding-bottom: 3%;
    }

    td {
      padding-bottom: 5%;
      width: 50%;
    }

    .total-border {
      border-bottom: 2px dashed black;
    }
  }
}


