.traveler {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "trips cost form";


  header {
    @include flexin(row);
    height: 15vh;
    justify-content: center;
    align-items: center;
  }

  .trip-info {
    grid-area: "trips";
    border: black 5px solid;
    width: 25%;
    height: 80vh;
  }
  
  .cost-info {
    grid-area: "cost";
    border: black 5px solid;
    width: 25%;
    height: 80vh;
  }

  .request-info {
    grid-area: "form";
    border: black 5px solid;
    width: 25%;
    height: 80vh;
  }
}



