/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';  
@import 'login';
@import 'traveler';

// *,
// *:after,
// *:before {
//   border: solid 1px grey;
//   box-sizing: border-box;
//   color: black;
//   margin: 0;
//   padding: 0;
// }

body {
  background: $primary-background;
  font-family: Arial;
}

.hidden {
  display: none;
}

.overlay {
  filter:alpha(opacity=50);
  background-color: white;
  height:100%;
  left:0;
  opacity:0.5;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}